<mat-toolbar>Cadastrar Amostra</mat-toolbar>

<div class="componente-container">
  <form
    class="form-padrao"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && salvar()"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Descrição"
        formControlName="descricao"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <div class="linha-botoes">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Salvar
      </button>
      <button type="button" mat-raised-button routerLink="/amostras">
        Cancelar
      </button>
    </div>
  </form>
</div>
