<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="estaLogado$ | async"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="clientes">Cliente</a>
      <a mat-list-item routerLink="orcamentos">Orçamento</a>
      <a mat-list-item routerLink="ordens-servicos">Ordem de Serviço</a>
      <a mat-list-item routerLink="amostras">Amostra</a>
      <a mat-list-item routerLink="normas-tecnicas">Norma Técnica</a>
      <a mat-list-item routerLink="tecnicos-quimicos">Técnico Químico</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="separa">Analyze</span>
      <button class="mat-stroked-button" color="primary" *ngIf="estaLogado$ | async" (click)="sair()">Sair</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
