<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="estaLogado$ | async"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="cliente">Cliente</a>
      <a mat-list-item routerLink="orcamento">Orçamento</a>
      <a mat-list-item routerLink="ordem-servico">Ordem de Serviço</a>
      <a mat-list-item routerLink="amostra">Amostra</a>
      <a mat-list-item routerLink="norma-tecnica">Norma Técnica</a>
      <a mat-list-item routerLink="tecnicos-quimicos">Técnico Químico</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Analyze</span>
      <button *ngIf="estaLogado$ | async" (click)="sair()">Sair</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
