<div class="container-card">
    <mat-card class="example-card">
        <mat-card-header style="margin-left:80px">
            <mat-card-title>Analyze - Entrar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <input
                        id="input-username"
                        matInput
                        placeholder="E-mail"
                        formControlName="email"
                        required
                    />
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input
                        id="input-senha"
                        matInput
                        placeholder="senha"
                        type="password"
                        formControlName="senha"
                        autocomplete="password"
                        required
                    />
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <div style="text-align:center">
                    <button id="button-entrar" mat-raised-button [disabled]="!loginForm.valid" color="primary">
                        Entrar
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
