<mat-toolbar>{{orcamento?.id ? 'Editar': 'Cadastrar'}} Orçamento</mat-toolbar>

<div class="componente-container">
  <form
    class="form-padrao"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && salvar()"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        formControlName="nome"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data do Orçamento</mat-label>
      <input
        matInput
        disabled
        formControlName="data"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor" formControlName="valor" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descrição" formControlName="descricao" />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Clientes</mat-label>
      <mat-select formControlName="cliente" [compareWith]="comparaCliente">
        <mat-option
          *ngFor="let cliente of clientes$ | async"
          [value]="cliente"
          >{{ cliente.nome }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="linha-botoes">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Salvar
      </button>
      <button type="button" mat-raised-button routerLink="/orcamentos">
        Cancelar
      </button>
    </div>
  </form>
</div>
