<mat-toolbar>Cadastrar Cliente</mat-toolbar>

<div class="componente-container">
  <form
    class="form-padrao"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && salvar()"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Razao Social"
        formControlName="razaoSocial"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome Fantasia"
        formControlName="nomeFantasia"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CNPJ"
        formControlName="cnpj"
        required
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Endereço"
        formControlName="endereco"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Telefone"
        formControlName="telefone"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="E-mail"
        formControlName="email"
      />
    </mat-form-field>
    <div class="linha-botoes">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Salvar
      </button>
      <button type="button" mat-raised-button routerLink="/clientes">
        Cancelar
      </button>
    </div>
  </form>
</div>
