<mat-toolbar
  >{{ ordemServico?.id ? "Editar" : "Cadastrar" }} Ordem de Serviço</mat-toolbar
>

<div class="componente-container">
  <form
    class="form-padrao"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && salvar()"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Criador da Ordem de Serviço"
        formControlName="nome"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Escolha uma data</mat-label>
      <input
        required
        matInput
        disabled
        formControlName="data"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tecnicos Quimicos</mat-label>
      <mat-select
        required
        formControlName="tecnico"
        [compareWith]="comparaTecnicos"
      >
        <mat-option
          *ngFor="let tecnico of tecnicos$ | async"
          [value]="tecnico"
          >{{ tecnico.nome }}</mat-option
        >
      </mat-select>
      <mat-error>Selecione um Técnico</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de Serviço</mat-label>
      <mat-select
        required
        formControlName="servico"
        [compareWith]="comparaServicos"
      >
        <mat-option
          *ngFor="let servico of servicos$ | async"
          [value]="servico"
          >{{ servico.nomeTipoServico }}</mat-option
        >
      </mat-select>
      <mat-error>Selecione o tipo de serviço atual</mat-error>
    </mat-form-field>
    <div class="linha-botoes">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Salvar
      </button>
      <button type="button" mat-raised-button routerLink="/ordens-servicos">
        Cancelar
      </button>
    </div>
  </form>
</div>
